@import url('../../variables.css');

.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before8 2s infinite;
}

.loader:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em var(--color-red), -1em 0.5em var(--color-blue);
  }

  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em var(--color-red), 0 0.5em var(--color-blue);
  }

  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em var(--color-red), 1em 0.5em var(--color-blue);
  }

  100% {
    box-shadow: 1em -0.5em var(--color-red), -1em 0.5em var(--color-blue);
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em var(--color-green), -0.5em -1em var(--color-orange);
  }

  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 var(--color-green), -0.5em 0 var(--color-orange);
  }

  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em var(--color-green), -0.5em 1em var(--color-orange);
  }

  100% {
    box-shadow: 0.5em 1em var(--color-green), -0.5em -1em var(--color-orange);
  }
}

.loader {
  position: absolute;
}

.container {
  height: auto;
  width: 50%;
  margin: auto;
  background-color: var(--color-n-white);
  color: var(--color-n-dark);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 3% 4%;
  box-shadow: var(--box-shadow-0);
}

.container h2 {
  font-family: var(--typography-content);
  margin: 4% 0 0 0;
  font-size: medium;
  background-color: var(--color-n-light-purple);
  padding: 5%;
  border-radius: 8px;
}

.container ul li {
  font-family: var(--typography-content);
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  padding-right: 10px;
  border: 1px solid var(--color-n-border);
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

ul li:hover {
  background-color: var(--color-n-light-blue);
  border: 1px solid var(--color-n-purple);
  outline: 1px solid var(--color-n-purple);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5%;
}

.title h1 {
  margin-left: 20%;
  font-size: x-large;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: wrap;
}

.title h1:before {
  background-color: var(--color-orange);
  content: '';
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

.index {
  text-align: right;
  font-size: small;
}

.container .correct {
  background-color: var(--color-n-light-green);
  border: 1px solid var(--color-n-correct);
  outline: 1px solid var(--color-n-correct);
}

.container .wrong {
  background-color: var(--color-n-light-red);
  border: 1px solid var(--color-n-wrong);
  outline: 1px solid var(--color-n-wrong);
}

.container .result {
  width: 50%;
  height: auto;
  transform: translate(40%, 40%);
  background-color: var(--color-n-light-purple);
  border-radius: 99px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  padding: 2%;
}

.score-infos {
  text-align: center;
  margin: 3%;
}

.percentage-box {
  display: flex;
  justify-content: center;
  padding: 10% 0 5% 0;
}

.percentage {
  width: 150px;
  height: auto;
}

.link {
  font-size: small;
  color: var(--color-n-dark);
  text-decoration: underline;
}

.account {
  font-size: small;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: var(--color-n-dark);
}

.next-btn {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.next-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: var(--color-n-light-blue);
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.next-btn span {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--color-n-strong-blue);
}

.next-btn svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--color-n-strong-blue);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.next-btn:hover:before {
  width: 100%;
  background: var(--color-n-light-blue);
}

.next-btn:hover svg {
  transform: translateX(0);
}

.next-btn:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 767px) {
  .container {
    height: auto;
    width: 80%;
    gap: 20px;
    padding: 5% 6%;
  }

  .title h1 {
    font-size: x-large;
    margin-left: 20%;
    margin-top: 3%;
  }

  .title .loader {
    margin-top: 3%;
  }

  .container h2 {
    font-size: medium;
  }

  .container ul li {
    font-size: 14px;
    height: 70px;
  }

  .next-btn {
    padding: 10px 16px;
  }

  .next-btn:before {
    width: 35px;
    height: 35px;
  }

  .next-btn span {
    font-size: 14px;
  }
}
