@import url('../../variables.css');

.nav {
  top: 0;
  display: flex;
  margin: 1% 2% 0 0;
}

.user-img {
  cursor: pointer;
  width: 2%;
  height: auto;
  padding: 1%;
  background-color: var(--color-n-white);
  border-radius: 99px;
  box-shadow: var(--box-shadow-0);
  margin-left: auto;
}

@media only screen and (max-width: 767px) {
  .user-img {
    width: 6%;
    padding: 3%;
  }

  .nav {
    margin: 5%;
  }
}
