@import url('variables.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--typography-content);
    background-color: var(--color-n-light-blue);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--typography-typeface);
}

html, body, #app {
    touch-action: manipulation;
}

::selection {
    color: var(--color-n-dark);
    background-color: var(--color-n-light-blue);
}

